<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>eHRMS.NewTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openEmployeeTimeSheet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openEmployeeManagement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addTimeSheet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewLeave</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
