<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:11</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:14</td>   <td>2896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:14</td>   <td>2896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.login(java.lang.String, java.lang.String)[pri:1, instance:eHRMS.NewTest@68be2bc2]">login</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:15</td>   <td>4548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:15</td>   <td>4549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:15</td>   <td>4549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.openEmployeeManagement()[pri:2, instance:eHRMS.NewTest@68be2bc2]">openEmployeeManagement</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:16</td>   <td>5624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:16</td>   <td>5625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:16</td>   <td>5625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.addNewLeave()[pri:3, instance:eHRMS.NewTest@68be2bc2]">addNewLeave</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:17</td>   <td>6272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:17</td>   <td>6272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:17</td>   <td>6272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.openEmployeeTimeSheet()[pri:4, instance:eHRMS.NewTest@68be2bc2]">openEmployeeTimeSheet</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>6853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>6853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>6853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.addTimeSheet()[pri:5, instance:eHRMS.NewTest@68be2bc2]">addTimeSheet</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>7474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>7474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>7474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.logout()[pri:6, instance:eHRMS.NewTest@68be2bc2]">logout</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>7596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:18</td>   <td>7596</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/22 15:47:19</td>   <td>8407</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:eHRMS.NewTest@68be2bc2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
</table>
