<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:POM_Sample.NewTest@675d3402]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:54</td>   <td>-3698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:54</td>   <td>-3352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:57</td>   <td>-580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:57</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:58</td>   <td>857</td> <td title="&lt;&lt;NewTest.afterSuite()[pri:0, instance:POM_Sample.NewTest@675d3402]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:58</td>   <td>835</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:POM_Sample.NewTest@675d3402]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:49</td>   <td>-8327</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:POM_Sample.NewTest@675d3402]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:52</td>   <td>-5195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:54</td>   <td>-3698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:54</td>   <td>-3352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:57</td>   <td>-579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:POM_Sample.NewTest@675d3402]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:49</td>   <td>-8343</td> <td title="&gt;&gt;NewTest.beforeSuite()[pri:0, instance:POM_Sample.NewTest@675d3402]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:49</td>   <td>-8343</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:POM_Sample.NewTest@675d3402]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:57</td>   <td>-579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.bookFlight()[pri:4, instance:POM_Sample.NewTest@675d3402]">bookFlight</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:54</td>   <td>-3697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.flightFinder()[pri:2, instance:POM_Sample.NewTest@675d3402]">flightFinder</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:52</td>   <td>-5195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.login()[pri:1, instance:POM_Sample.NewTest@675d3402]">login</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>16/07/24 00:56:54</td>   <td>-3352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.selectFlight()[pri:3, instance:POM_Sample.NewTest@675d3402]">selectFlight</td> 
  <td>main@182738614</td>   <td></td> </tr>
</table>
